button{
	height: 35px;
	width: 140px;
	font-size: 16px;
}

#theButton{
	float: left;
}

.dice{
	font-size: 50px;
	float: left;
	user-select: none;
	width: 60px;
	text-align: center;
}

.highlighted{
	background: pink;
}





table, tr, td, th{
	box-sizing: border-box;
	height: 28px;
	border-collapse: collapse;
	padding: 3px;
}

#scoreTable td{
	border: solid black 1px;
	text-align: center;
	border-collapse: collapse;
}

#scoreTable, #scoreTable th{
	border: solid black 2px;
}

#leftColumn{
	float:left;
}

#leftColumn, #leftColumn tr{
	border: solid black;
	border-right-width: 0px;
	border-top-width: 2px;
	border-left-width: 2px;
	border-bottom-width: 2px;
	
	/*border-width:  2px 2px 0px 2px;*/
}